@font-face{
    font-family: roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face{
    font-family: poppins;
    src: url(../fonts/Poppins-Medium.ttf);
}
@font-face{
    font-family: literata;
    src: url(../fonts/Literata-VariableFont_wght.ttf);
}
@font-face{
    font-family: quantico;
    src: url(../fonts/Quantico-Regular.ttf);
}