/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Literata:ital@1&family=Poppins&family=Quantico&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    overflow: hidden;
}
a{
    text-decoration: none!important;
}
.card a{
    cursor: pointer;
}
html{
    scroll-behavior: smooth;
}
/* Global Classess */
.poppins{
    font-family: 'Poppins', sans-serif;
}
.quantico{
    font-family: 'Quantico', sans-serif;
}
.literata{
    font-family: 'Literata', serif;
}
.roboto{
    font-family: 'roboto', serif;
}
#loader_div{
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    background: #fff;
}
#loader_div .circle{
    width: 50px;
    height: 50px;
    border: 4px solid;
    color: #e74c3c;
    border-radius: 50%;
    border-top-color: transparent;
    animation: preloader 1.2s linear infinite;
}
@keyframes preloader{
    25%{
        color: #2ecc71; 
    }
    50%{
        color: #f1c40f;
    }
    75%{
        color: #3498db;
    }
    to{
        transform: rotate(360deg);
    }
}
/* Landing Section*/
.home{
    height: 100vh;
    background: linear-gradient( 109.6deg,  rgba(123,90,224,1) 11.2%, rgba(164,46,253,1) 32.6%, rgba(213,56,234,1) 62.7%, rgba(251,138,52,1) 100.2%);
    background-size: 400%;
    animation: slide 20s linear infinite;
    position: relative;
}
.home h1{
    font-size: 3.5rem;
}
.home h5{
    font-size: 1.5rem;
    margin-top: 10px;
}
.home h6{
    font-size: 1.2rem;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    letter-spacing: 1px;
}
@keyframes slide{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}
/* Home Section*/
nav{
    transition: all 0.3s;
}
nav.active{
    background-color: #691EAD!important;
}
nav.active .nav-link,
nav.active .navbar-brand{
    color: #fff!important;
}
nav.active .navbar-toggler .navbar-toggler-icon {
    background-color: #fff;
}
nav .container{
    padding: 0;
}
.navbar-brand{
    color: #691EAD!important;
    font-size: 1.65rem;
    font-weight: 500;
}
.nav-link{
    color: #000!important;
    margin: 0 10px;
    font-size: 1.2rem;
    position: relative;
}
.nav-link::after{
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 8px;
    background-color: #ED127C;
    transition: all 1s;
    opacity: 0;
}
.nav-link.active::after,
.nav-link:hover::after{
    width: calc(100% - 1rem);
    opacity: 1;
}
.navbar-toggler {
    border: 0;
    padding: 0;
    width: 30px;
    height: 32px;
    line-height: 30px;
    outline: none;
    cursor: pointer;
    margin-right: 10px;
}
  
.navbar-toggler:focus {
    outline: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:first-child {
    transform: rotate(45deg);
    top: 5px;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:nth-child(2) {
    display: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:last-child {
    transform: rotate(-45deg);
    bottom: 3px;
}

.navbar-toggler .navbar-toggler-icon {
    background: black;
    display: block;
    width: 100%;
    height: 3px;
    margin: 5px 0;
    transition: all 0.4s ease;
    position: relative;
}
#hero{
    position: relative;
    overflow: hidden;
}
#hero .container{
    padding: 100px 0px;
}
#hero .shapes{
    position: absolute;
}
#hero .shapes:nth-child(1){
    left: 0;
    top: 206px;
    width: 130px;
}
#hero .shapes:nth-child(2){
    right: 0;top: 30px;
    width: 150px;
}
.landing .contentBx h1{
    font-size: 2.8rem;
    font-weight: 500;
    color: #691EAD;
}
.landing .contentBx p{
    font-size: 1.5rem;
    font-weight: 500;
}
.landing a{
    font-size: 1rem;
    letter-spacing: 0.5px;
    background-color: #ED127C;
    padding: 13px 30px;
    display: inline-block;
    margin-top: 5px;
}
.landing a:hover{
    background: white;
    box-shadow:0 0 1px 1px #ED127C;
    color: #ED127C!important;
}
.landing .imgBx img{
    border-radius: 50%;
    width: 250px;
}
/* course section */
#course h6,
#blog h6{
    line-height: 1.6;
}
/* Other section */
#other .info .circle{
    display: inline-block;
    width: 80px;
    height:80px;
    border-radius: 50%;
    background-color: #2ecc71;
}
#other .info i{
    color: orange;
}
#other .info p{
    font-size: 1.2rem;
}
#other .info .circle i{
    line-height: 80px;
    color: white;
    font-size: 1.3rem;
}
/* Gallery */
#gallery .imgBx,
#blog .imgBx{
    height: 210px;
    overflow: hidden;
}
#gallery .imgBx img,
#blog .imgBx img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s;
}
#gallery .imgBx img:hover{
    transform: scale(1.1);
}
/* Contact Section */
#contact{
    background-image: url('../images/shape3.jpg');
    background-size: cover;
    background-position: -185px;
    background-repeat: no-repeat;
}
#contact i{
    font-size: 2.5rem;
}
#contact .phone i{
    margin-right: -46px;
}
#contact .email i{
    margin-right: 0px;
}
#contact .a1 i{
    margin-right: 60px;
}
#contact .a2 i{
    margin-right: 145px;
}
#contact p{
    color: #691EAD;
    font-size: 1.2rem;
    font-weight: 500;
}
footer span{
    color: #691EAD;
    font-weight: 500;
}
/* Blog Page */
.blog h2{
    line-height: 1.6;
}
.blog p{
    font-size: 1.2rem;
    letter-spacing: 1px;
    word-spacing: 2px;
    text-indent: 130px;
    margin-top: 40px;
}
.blog img{
    width: 300px;
}
@media (max-width: 991px){
    #nav li{
        margin: 10px auto;
    }
    .landing .contentBx{
        text-align: center;
    }
    #contact{
        background: #681ead;
    }
    #contact .phone i,#contact .email i,#contact .a1 i,#contact .a2 i{
        margin-right: 0px;
    }
    #contact .phone,#contact .email,#contact .a1,#contact .a2{
        text-align: center!important;
    }
    #contact .phone + div,#contact .email + div,#contact .a1 + div,#contact .a2 + div{
        text-align: center!important;
    }
    #contact p{
        color: white;
        margin-top: 15px!important;
    }
}
@media (max-width: 576px){
    html{
        font-size: 14px;
    }
    .landing .imgBx img {
        width: 220px;
    }
    #course h6, #blog h6 {
        font-size: 1.2rem;
    }
    #hero .shapes:nth-child(1) {
        left: -16px;
        top: 300px;
    }
    #hero .shapes:nth-child(2) {
        right: -16px;
    }
    .landing .contentBx h1 {
        font-size: 2.5rem;
    }
    .landing .contentBx p {
        font-size: 1.3rem;
    }
}
@media (max-width: 350px){
    html{
        font-size: 13px;
    }
    .home h1 {
        font-size: 2.3rem;
    }
    .home h5{
        font-size: 1.2rem;
    }
}